html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

header.header {
  background-color: rgba(0, 0, 0, 0.61);
  padding: 1vw;
}

header.header h1 {
  text-align: center;
  color: #fff;
}

section.container {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

section.container form.form {
  display: flex;
  flex-direction: column;
}

section.container form.form div.form-body {
  padding-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section.container form.form div.form-body div.form-itens {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  align-items: center;
  margin: 0 auto;
}

section.container form.form div.form-body div.form-itens label {
  color: rgba(0, 0, 0, 0.61);
  padding-top: .5vw;
  min-width: 60px;
  width: 100%;
}

section.container form.form div.form-body div.form-itens input {
  border: 1px solid rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  padding: .5vw;
  min-width: 60px;
  width: 100%;
}

section.container form.form button[type="submit"] {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.61);
  padding: .5vw 1.5vw;
  margin-top: .5vw;
  margin-right: .2vw;
  color: #fff;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

section.box-movies div.js-movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section.box-movies div.js-movie-list div.list-itens {
  border: 1px solid rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  margin: 3vw 2vw;
  max-height: 700px;
  padding: 0vw 2vw;
}

section.box-movies div.js-movie-list div.list-itens h2 {
  text-align: center;
  height: 50px;
  padding: .5vw 0;
  color: rgba(0, 0, 0, 0.61);
  font-size: 1.2rem;
  background-color: #fff;
}

section.box-movies div.js-movie-list div.list-itens button {
  padding: 1vw 0;
  margin-left: 2vw;
  float: right;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

section.box-movies div.js-movie-list div.list-itens button i {
  font-size: 2vw;
}

section.box-movies div.js-movie-list div.list-itens img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  max-height: 400px;
  min-height: 400px;
}

section.box-movies div.js-movie-list div.list-itens div.genero-nota {
  padding: 1vw 0;
  display: flex;
}

section.box-movies div.js-movie-list div.list-itens div.genero-nota p {
  padding: 1vw;
  border: 1px solid rgba(0, 0, 0, 0.61);
  color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  width: 60%;
  height: 50%;
  text-align: center;
}

section.box-movies div.js-movie-list div.list-itens div.genero-nota span {
  display: block;
  margin: 0 auto;
  font-size: 3vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.61);
}

section.box-movies div.js-movie-list div.list-itens input[type="checkbox"] {
  display: none;
}

footer.footer {
  background-color: rgba(0, 0, 0, 0.61);
  padding: 1vw;
  margin-top: 1vw;
}

footer.footer p {
  text-align: center;
  color: #fff;
}







